* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Set up the main font for entire page */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;

  color: #002b40;
}

/* additional google icon settings */
.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}
.material-icons-round {
  /* icons by default don't line up in the middle... weird feature */
  vertical-align: middle;
}

main {
  min-height: 100vh;
  background: url(./images/blue-haikei.svg) no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
  font-weight: 500;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
h4 {
  font-size: 2rem;
  font-weight: lighter;
}
p {
  font-size: 1.6rem;
  font-weight: normal;
}

.glass {
  height: 80vh;
  width: 80vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(2.5rem);

  border-radius: 2rem;
  z-index: 2;
  display: flex;
}

/* Beginning of Dashboard Section */
.dashboard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 2rem;
  flex: 1;
  /* width can grow and shrink but only within this range */
  max-width: 40rem;
  min-width: 28.5rem;
  /* min-height: 58rem; */
  padding: 1rem;
  /* align content inside the dashboard */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.profile {
  margin: 0 2rem;
}
.profile > .avatar {
  width: 12.8rem;
  border-style: solid dashed;
  border-radius: 2rem;
}
.line-blur {
  border: 0;
  height: 2px;
  width: 70%;
}
.line-blur.center {
  justify-self: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, #002b4000, #002b40ff, #002b4000);
}
.line-blur.left {
  justify-self: left;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #002b40ff, #002b4000);
}

.links {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* End of Dashboard Section */

/* Beginning of Content Section */
.page-container {
  /* place after the dashboard */
  flex: 2;
  /* set content to auto hide when overflowing. add nice scroll effect! */
  overflow: hidden;
  scroll-behavior: smooth;
  /* we use a grid to order our pages within the viewer */
  display: grid;
  grid-auto-flow: column;
  /* each page takes up 100% of the viewer, and we use an arbitrary amount
     of columns based on our design goals */
  grid-template-columns: repeat(3, 100%);
  /* same idea here, each page needs 100% of size, and we the count is
     home + count of other pages */
  grid-template-rows: repeat(3, 100%);
  /* this is my solution after pulling my hair out. I like the zig-zag feel
     with page nagivation, hence why they are ordered like that */
  grid-template-areas:
    "home . ."
    ". . projects"
    ". contact .";
}
/* we need to manually set each page to the grid location it will occupy */
#home-1 {
  grid-area: home;
}
#projects-1 {
  grid-area: projects;
}
#contact-1 {
  grid-area: contact;
}

.page {
  /* Set up page style */
  height: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;

  /* all children should now move relative to their respective page */
  position: relative;
  padding: 1rem;
}

.page footer {
  /* position self in the corner of the parent page,
     parent uses relative position to get this right */
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* manually set the page number border  */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.page-break {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-break.main-left {
  flex: 1.5;
  align-items: flex-end;
}
.page-break.side-right {
  flex: 1;
  align-items: flex-start;
}
.page-break.main-right {
  flex: 1.5;
  align-items: flex-start;
}
.page-break.side-left {
  flex: 1;
  align-items: flex-end;
}

/* Target the immediate decendants of a page 
   we want all page elements to show the white bg,
   so we set that up here */
.page .page-node {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 2rem;
  color: #002b40;
  padding: 2rem;
  margin: 1rem 0;
  font-weight: lighter;
  font-size: 1.5rem;
  position: relative;
}

.page-node h2,
.page-node h4 {
  /* since we want icons after headers, set them to
     place after the heading and align in the middle */
  display: inline-block;
  vertical-align: middle;
}

.page-node.project {
  padding-right: 8rem;
}
.page-node.project > .nav-link {
  position: absolute;
  right: 1rem;
  top: 50%;
}

.nav-link {
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  /* font settings */
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 500;
  background: #00b092;
  color: black;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
}
/* link -> visited -> hover -> active */
.nav-link:hover {
  filter: brightness(70%);
}
.nav-link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem #ced7eb;
}
/* we specifically want the next buttons to be on the right,
   and the previous buttons on the left relative to their page content*/
.nav-link.next {
  position: absolute;
  right: 0%;
}
.nav-link.prev {
  position: absolute;
  left: 0%;
}
