* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url(./images/blob-scene-haikei.svg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* anchors can have weird color, so we deactivate the weird color here */
/* a,
a:visited,
a:hover,
a:active {
  color: inherit;
} */

.glass {
  min-height: 80vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  z-index: 2;
  display: flex;
}

.solid {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  color: #426696;
}

.dashboard {
  flex: 1;

  /* align content inside the dashboard */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.profile > .avatar {
  width: 9.6rem;
  border-style: solid;
  border-radius: 50%;
}
.profile {
  color: inherit;
}
.profile h3 {
  font-weight: normal;
}
.links {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  /* place after the dashboard */
  flex: 2;

  display: grid;
  grid-auto-flow: column;
  /* set to count of rows, all set to 100% of content size */
  grid-template-rows: repeat(3, 100%);
  grid-template-columns: repeat(2, 100%);

  /* set content to auto hide when overflowing. add nice scroll effect! */
  overflow: hidden;
  scroll-behavior: smooth;
}
.page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* all children should now move relative to their respective page */
  position: relative;
}
.page > footer {
  /* position in corner and center page number */
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* set up size of page number */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.nav-link {
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  /* font settings */
  font-family: inherit;
  font-size: 16px;
  /* background: linear-gradient(
    to right bottom,
    rgba(60, 174, 250, 0.6),
    rgba(60, 175, 250, 0.2)
  ); */
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.7) 0%,
    rgba(148, 187, 233, 0.3) 100%
  );
  color: black;
  min-width: 80px;
  padding: 8px 10px;
}
.nav-link:hover {
  filter: brightness(70%);
}
.nav-link:focus {
  outline: none;
  box-shadow: 0 0 0 4px #ced7eb;
}

/* we specifically want the next buttons to be on the right,
   and the previous buttons on the left relative to their page */
.page > .nav-link.next {
  position: absolute;
  right: 5%;
}
.page > .nav-link.prev {
  position: absolute;
  left: 5%;
}

#about-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.page iframe {
  padding: 10px;
}
